* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// 背景色
body {
  background-color: #F8F8F8;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
// 列表
li {
  list-style: none;
}
// 版心
.w {
  width: 1190px;
  margin: 0 auto;
}
// 提示信息
.info-color {
  color: #909399;
}
.info-text {
  color: #C0C4CC;
  font-size: 12px;
}
.primary-text {
  color: #303133;
}
.regular-text {
  color: #606266;
}
// 超链接文本
a {
  cursor: pointer;
  color: #C0C4CC;
  font-size: 12px;
  text-decoration: none;
}
a:hover {
  color: #e33333;
}

// 设置element默认样式
.el-row,.el-col {
  padding: 0 !important;
}
//文字居中
.center {
  text-align: center;
}